#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.board_box {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.board_table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.board_table--header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40px;
  border-top: 1px solid lightgray;
}

.board_table--header--num {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
}
.board_table--header--title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
}
.board_table--header--peopleNo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
}
.board_table--header--cost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
}


.board_table--item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40px;
  border-top: 1px solid lightgray;
}

.board_table--item--num {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
}
.board_table--item--title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
}
.board_table--item--peopleNo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
}
.board_table--item--cost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
}